.DS_Store
*.swp
.bundle
.vagrant
tmp
.chef
install.sh*
npm-debug.log

cookbooks/essentials
cookbooks/fish
cookbooks/imagemagick
cookbooks/nginx
cookbooks/postgresql
cookbooks/ruby-brightbox
cookbooks/ruby-install
cookbooks/node
cookbooks/sqlite3
cookbooks/redis-server
cookbooks/ufw
