#aws Set a smaller InnoDB buffer pool size to avoid resource-related crashes
#aws-ref http://stackoverflow.com/questions/12114746/mysqld-service-stops-once-a-day-on-ec2-server
#aws-ref http://infoheap.com/how-to-fix-mysql-service-stopping-intermittently-on-aws-micro-instance/
innodb_buffer_pool_size = 10M